body {
    height:100%;
    margin: 0;
    padding: 0;
    background-image: url('image1.jpg');
    background-size: cover; /* Ensures the image covers the body */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    background-attachment: fixed;
    font-family: sans-serif;
}

.loginbox {
    width: 350px;
    height: 400px;
    background: transparent;
    backdrop-filter: blur(5px); /* Adds the blur effect */
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border:1px solid transparent;
    border-radius:25px; ;

}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    position: absolute;
    top: -75px;
    left: 29%
}

h1 {
    margin: 0;
    padding: 0 0 20 px;
    text-align: center;
    font-size: 22px;
    
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
    
}



.loginbox input[type="text"],
input[type="password"],
input[type="email"]
{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 18px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 30px;
    background: red;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

