<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Dashboard Title{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <header>
        KAPTAGAT
    </header>

    <div class="dashboard">
        

        <!-- Main Content -->
        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>


        <!-- Sidebar -->
        <div class="sidebar">
            {% include 'sidebar.html' %}
        </div>
    </div>

    <footer>

    </footer>

    <!-- Optionally, include your sidebar.js for dynamic adjustments -->
    <!-- <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script> -->
</body>
</html>