<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Login.css') }}">
</head>
   

    <body>
        <div class="loginbox">
            
            <h1>Login</h1> <br>

            <form action="http://127.0.0.1:5000/login" method="POST">
               
                <p>Email</p>
                <input type="email" name= "email" placeholder="Enter email" required>
               
                <p>Password</p>
                <input type="Password" name="password" placeholder="Enter Password" required>
                <input type="submit" name="submit" value="Login"><br>
                
                

            </form>
        </div>
    </body>


</html>