<ul id="sidebar-menu">
    <!-- You can render items based on the role passed from Flask -->
    <li><a href="#">Home</a></li>
    <li><a href="{{url_for('chat')}}">Chat Room</a></li>
    <li><a href="#">Analytics</a></li>
    <li><a href="{{url_for('profile')}}">Profile</a></li>
    {% if role == "admin" %}
        <li><a href="#">Manage Tenants</a></li>
        <li><a href="#">Payments & Receipts</a></li>
    {% elif role == "tenant" %}
        <li><a href="#">Pay Rent</a></li>
    {% endif %}
    <li><a href="{{url_for('login')}}">Logout</a></li>
</ul>
